<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>destinationVC</key>
			<string>CZBalanceController</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>消息通知</string>
			<key>icon</key>
			<string>message</string>
			<key>destinationVC</key>
			<string>CZSystemMessageController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>每日奖励</string>
			<key>icon</key>
			<string>follow</string>
			<key>destinationVC</key>
			<string>CZCoinCenterController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>我的收藏</string>
			<key>icon</key>
			<string>favor</string>
			<key>destinationVC</key>
			<string>CZCollectController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>设置</string>
			<key>icon</key>
			<string>setting</string>
			<key>destinationVC</key>
			<string>CZSettingController</string>
		</dict>
	</array>
</array>
</plist>
