<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>destinationVC</key>
			<string>CZBalanceController</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>消息通知</string>
			<key>icon</key>
			<string>message</string>
			<key>destinationVC</key>
			<string>CZSystemMessageController</string>
		</dict>
        <dict>
            <key>title</key>
            <string>我的订单</string>
            <key>icon</key>
            <string>order</string>
            <key>destinationVC</key>
            <string>CZOrderController</string>
        </dict>
		<dict>
			<key>title</key>
			<string>我要赚极币</string>
			<key>icon</key>
			<string>list-jibi</string>
			<key>destinationVC</key>
			<string>CZCoinCenterController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>我的收藏</string>
			<key>icon</key>
			<string>favor</string>
			<key>destinationVC</key>
			<string>CZCollectController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>收货地址</string>
			<key>icon</key>
			<string>favor-1</string>
			<key>destinationVC</key>
			<string>CZAddressController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>设置</string>
			<key>icon</key>
			<string>setting</string>
			<key>destinationVC</key>
			<string>CZSettingController</string>
		</dict>
	</array>
</array>
</plist>
